// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

::-webkit-input-placeholder { /* Chrome */
  color: #222;
  font-size: 1.3em;
}

:-ms-input-placeholder { /* IE 10+ */
  color: #222;
  font-size: 1.3em;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #222;
  font-size: 1.3em;
  opacity: 1;
}

.navbar-default {
  background: #222;
}

.padded-bottom {
  padding-bottom: 10px;
}

.big-number {
  background: #296fb6;
  color: #fefefe;
  width: 35px;
  height: 35px;
  text-align: center;
  font-weight: 900;
  font-size: 1.5em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.special-row {
  margin-left: .25rem !important;
  margin-right: .25rem !important;
}

.datepickerformat, #number-of-items, #location {
  font-size: 16px !important;
}

.avatar {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.dotted-right-border {
  border-right: 3px dotted #bbb;
}

#total-days {
  font-size: 16px !important;
  font-weight: 900;
}